# Slide Switches

NET "b0" LOC= "L13" | IOSTANDARD = LVTTL | PULLUP ;    # Switch 0
NET "b1" LOC= "L14" | IOSTANDARD = LVTTL | PULLUP ;    # Switch 1
NET "b2" LOC= "H18" | IOSTANDARD = LVTTL | PULLUP ;    # Switch 2
NET "b3" LOC= "N17" | IOSTANDARD = LVTTL | PULLUP ;    # Switch 3

# Push Buttons

NET "p1"  LOC= "V4"  | IOSTANDARD = LVTTL | PULLDOWN ;    # Input operand 1
NET "p2"  LOC= "K17" | IOSTANDARD = LVTTL | PULLDOWN ;	  # Input operand 2
NET "p3"  LOC= "D18" | IOSTANDARD = LVTTL | PULLDOWN ;    # Input operator

#LED

NET "carryf" LOC= "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;  # carry flag
NET "zerof"  LOC= "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;  # LED for zero flag
NET "negativef" LOC= "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;  # negative flag

# Clock

NET "clk" LOC ="C9" | IOSTANDARD = LVCMOS33;

# LCD Display

NET "sf_e" LOC="D16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "e"  LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "rs" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "rw" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;

NET "a" LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "b" LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "c" LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
NET "d" LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
